$note_header_height: 40px;

body,
html {
  font-family: "Roboto", sans-serif;
  background-image: url("./img/school.png");
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
}

#add-bar {
  position: fixed;
  background-color: #4c8492;
  box-shadow: rgb(20, 20, 20);
  -webkit-box-shadow: 3px 3px 4px 5px rgb(184, 184, 184);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  input {
    font-size: 1.5em;
    border-radius: 0.25em;
    padding-left: 5px;
    width: 75vw;
  }
  button {
    width: 150px;
  }
}

#notes-section {
  background-color: blue;
}

.note {
  position: absolute;
  min-height: 200px;
  min-width: 200px;
  width: min-content;
  background-color: #fffde8;
  display: flex;
  flex-direction: column;
  .note-header {
    background-color: #f7e0a3;
    height: $note_header_height;
    width: max-content;
    max-width: 800px;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .note-title {
      font-size: 1.6em;
      margin: 3px;
      padding-left: 7px;
    }
    .title-input{
      height: 70%;
      width: 250px;
    }
    .note-icons {
      cursor: pointer;
      font-size: 1.2em;
      display: inline-block;
      text-align: end;
      padding-left: 8px;
      i {
        padding: 7px;
      }
      .fa-arrows-alt {
        cursor: grab;
        padding-left: 15px;
      }
    }
  }
  .note-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    textarea {
      height: 98%;
      resize: none;
      flex-grow: 1;
      width: 99%;
    }
    .note-text {
      font-size: 1.2em;
      margin: 3px;
      p{
        overflow-wrap: anywhere;
        margin: 3px;
      }
    }
  }
}

#test {
  background-color: crimson;
  min-height: 400px;
  width: 400px;
  max-width: 1000px;
}
